{% extends 'home/base.html' %}
{% load static %}
{% block link %}<link rel ="stylesheet" href="{% static 'home/css/index.css' %}">{% endblock %}
{% block main %}

<div class="container">
    <div class="row" id="main">
        <div class="col-sm-6" style="order: 2">
            <img src="{% static 'home/images/smrayhan_circle.png' %}" id="hero-img" alt="hero image">
        </div>
        <div class="col-sm-6" style="order: 1">
            <h1>S M Rayhan</h1>
                <h4>Solopreneur | Entrepreneurial experience in Digital Financial Services & Telecommunication</h4>
                <p>Decade 1: The 90s
                    I grew up in the vibrant 90s in Dhaka. In our close-knit community, I learned the value of friendship, compassion,
                    education, and the art of interpersonal communication. Our cultural values and moral teachings were the bedrock of our upbringing.
                    My grandparents' storytelling and moral lessons are still my strength.
                    Sports and community engagement were vital parts of our lives.
                <p class="know-more-option" data-toggle="collapse" data-target="#collapseKnowMore" aria-expanded="false"
                    aria-controls="collapseKnowMore" onclick=showMore()>
                    Show More
                </p>
                <div class="collapse" id="collapseKnowMore">
                    <div class="card card-body">
                        Been part of 25+ Companies' Market plan development (20 Separate industries). Several of them
                        now successfully rolled-out nationwide and on run for market leadership.<br><br>

                        As a business professional, aspire to evolve as a “Human Leader”, capable of inspiring
                        individual to dream big and to act passionately in delivering above average.
                    </div>
                    <p class="know-less-option" data-toggle="collapse" data-target="#collapseKnowMore"
                        aria-expanded="false" aria-controls="collapseKnowMore" onclick=showLess()>
                        Show Less
                    </p>
                </div>
                <br>
            <div class="three-circles">
                <div class="row">
                    <div class="col-sm-4">
                        <a href="{% url 'resume' %}">
                            <div class="circle-text-1"><p>Resume</p></div>
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <a href="{% url 'projects' %}">
                            <div class="circle-text-2"><p>Projects</p></div>
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <a href="{% url 'thoughts:thoughts' %}">
                            <div class="circle-text-3"><p>Thoughts</p></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}