{% extends 'home/base.html' %}
{% load static %}
{% block link %}<link rel ="stylesheet" href="{% static 'home/css/index.css' %}">{% endblock %}
{% block main %}

<div class="container">
    <div class="row" id="main">
        <div class="col-sm-6" style="order: 2">
            <img src={% static "home/images/smrayhan_circle.png" %} id="hero-img">
        </div>
        <div class="col-sm-6" style="order: 1">
            <h1>S M Rayhan</h1>
            <h4>A Bit About Me</h4>
            <p>Have more than +17 years of experience in Telecom, MFS & Fintech industries in Bangladesh including +5
                years of experience in running group of businesses & successfully ensuring returns for investors
                (Alhamdulillah).<br>
                <span class="know-more-option" onClick="showMore()">Know More</span>
                <br></p>

            <div class="hidden-part">
                <p>Been part of 25+ Companies' Market plan development (20 Separate industries). Several of them now
                    successfully rolled-out nationwide and on run for market leadership.<br><br>

                    As a business professional, aspire to evolve as a “Human Leader”, capable of inspiring individual to
                    dream big and to act passionately in delivering above average.<br>
                    <span class="know-less-option" onClick="showLess()">Show Less</span><br></p>
            </div>
            <div class="three-circles">
                <div class="row">
                    <div class="col-sm-4">
                        <a href="{% url 'resume' %}">
                            <div class="circle-text-1"><p>Resume</p></div>
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <a href="{% url 'projects' %}">
                            <div class="circle-text-2"><p>Projects</p></div>
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <a href="{% url 'thoughts:thoughts' %}">
                            <div class="circle-text-3"><p>Thoughts</p></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}