{% extends 'home/base.html' %}
{% load static %}
{% block main %}
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    {% block link %}
        <link rel="stylesheet" href="{% static 'home/css/moments.css' %}">{% endblock %}

    <div class="container">
        <div class="main">
            <h1 class="text-center">MOMENTS</h1>
            <hr>
            <!-- Portfolio Gallery Grid -->
            <div class="row" style="display: flex; flex-wrap: wrap; margin: 10px -16px; padding: 8px; color: #000000;">
                {% for moment in object_list %}
                    <div class="content">
                        <a href="{% url 'moments:embedded_moments' moment.id %}">
                            <div class="overlay-container">
                                <img src="{{ moment.image.url }}"
                                     alt="{{ moment.alternate_text }}"
                                     style="width:100%; height: 238px;"
                                     class="hover-shadow cursor img-moments"
                                     loading="lazy"
                                     onclick=openModal()>

                                <div class="overlay">
                                    <div class="text"><p>{{ moment.description }}</p></div>
                                </div>
                            </div>
                            <h4>{{ moment.header }}</h4>
                        </a>
                    </div>
                {% endfor %}
            </div>
            <!-- END MAIN -->
        </div>
    </div>
    {% if object_list.paginator.count > 12 %}
        {% url 'moments:moments' as moments_url %}
        <nav aria-label="search page">
            <ul class="pagination justify-content-center">
                {% if object_list.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="{{ moments_url }}?page={{ object_list.previous_page_number }}"
                           tabindex="-1">Previous</a>
                    </li>
                {% endif %}
                {% with ''|center:object_list.paginator.num_pages as range %}
                    {% for _ in range %}
                        <li class="page-item">
                            <a class="page-link"
                               href="{{ moments_url }}?page={{ forloop.counter }}">{{ forloop.counter }}</a>
                        </li>
                    {% endfor %}
                {% endwith %}
                {% if object_list.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="{{ moments_url }}?page={{ object_list.next_page_number }}">Next</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            addActiveClass("nav-link-4")
        });
    </script>
{% endblock %}
