{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>S M Rayhan</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="images/favicon.png"/>
        <link href="https://fonts.googleapis.com/css?family=Gothic+A1|Inconsolata|Roboto|Montserrat|Abril+Fatface|Lato:wght@800&display=swap|Vollkorn+SC|Allison&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Vollkorn+SC:wght@700;900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet"  href="./src/css/lightslider.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://kit.fontawesome.com/9210d8956f.js" crossorigin="anonymous"></script>
        <script src="js/jquery-2.1.3.min.js"></script>
        <script src="js/cycle2.js"></script>
        <script src="js/index.js"></script>
        <script src="./src/js/lightslider.js"></script>
        <link rel ="stylesheet" href="css/projects.css">
        <link href="https://fonts.googleapis.com/css2?family=Allison&display=swap" rel="stylesheet">
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-expand-md" style="z-index: 3000;">
            <a class="navbar-brand" href="index.html">S M Rayhan</a>
            <button class="navbar-toggler" style="border: 1px solid #000000;" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"><i class="fas fa-bars" style="color:#000000; font-size:28px;"></i></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="collapsibleNavbar">
                <div class="navbar-nav"></div>
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="resume.html" onMouseOver="this.style.color=' #926402'" onMouseOut="this.style.color='#000000'" style="color: #000000; font-weight: 100;" >Resume &nbsp| </a>
                    <a class="nav-item nav-link" href="projects.html" onMouseOver="this.style.color='#926402'" onMouseOut="this.style.color='#000000'" style="color: #000000; font-weight: 100;" id="active">Projects &nbsp| </a>
                    <a class="nav-item nav-link" href="#" onMouseOver="this.style.color='#926402'" onMouseOut="this.style.color='#000000'" style="color: #000000; font-weight: 100;">Contact</a>
                </div>
            </div>
        </nav>
        <br>
        <div class="container">
            <div class="project-section">
                <h1>Projects</h1>
                <div class="row">
                    <div class="col-sm-6">
                        <h3>Alternative Sales channel Development-2011 (Project Manager)</h3>
                        <p>
                            <span class="circle">&#9679;</span> Identify Alternative sales channel for selling Connection & recharge.<br>
                            <span class="circle">&#9679;</span> Including Mega shop and Departmental stop in Distribution channel.
                        </p>
                    </div>
                    <div class="col-sm-6">
                        <div class="img-rignt-div">
                            <img src={% static "projects/images/banglalink.png" %}>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <h3>Business Plan for Dhaka Commercial Team (Y 2010&11) (Project Member)</h3>
                        <p>Yearly Business activities and project planning for Dhaka commercial Team of Banglalink Sales and distribution.
                        </p>
                    </div>
                    <div class="col-sm-6">
                        <div class="img-rignt-div">
                            <img src="images/banglalink.png">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <h3>Field force training & Development 2011 (Project Member & Trainer)</h3>
                        <p>
                            <span class="circle">&#9679;</span> Supervisor Functional Training Module Develop<br>
                            <span class="circle">&#9679;</span> Training Rollout across Commercial region.<br>
                            <span class="circle">&#9679;</span> Train the Trainers
                        </p>
                    </div>
                    <div class="col-sm-6">
                        <div class="img-rignt-div">
                            <img src="images/banglalink.png">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <h3>Project RSE - (Project Manager)</h3>
                        <p>
                            <span class="circle">&#9679;</span> Proposed Special connection selling Service Plan For for the commercial region.
                        </p>
                    </div>
                    <div class="col-sm-6">
                        <div class="img-rignt-div">
                            <img src="images/banglalink.png">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <h3>Distribution Manual Development for Channel Partners (Project Manager)</h3>
                        <p>
                            <span class="circle">&#9679;</span> Distribution manual development for sales & Distribution channel.
                        </p>
                    </div>
                    <div class="col-sm-6">
                        <div class="img-rignt-div">
                            <img src="images/banglalink.png">
                        </div>
                    </div>
                </div>

            </div>
            <div class="footer">
            <div class="row">
                <div class="col-sm-4">
                    <p>Phone</p>
                    <span>123-456-7890</span>
                </div>
                <div class="col-sm-4">
                    <p>Email</p>
                    <span>info@mysite.com</span>
                </div>
                <div class="col-sm-4">
                    <p>Follow Me</p>
                        <span class="footer-social-icons"><a href="#" target="_blank"><i class="fab fa-facebook fa-2x"></i></a><a href="https://www.linkedin.com/in/smrayhan81/" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a></span>
                </div>
                <div class="col-sm-4">
                    <span>&copy;2022 by S M Rayhan<br>Proudly Created by Ishaq Ali</span>
                </div>
            </div>
        </div>
        </div>
        <script>
            $('document').ready(function() {
                $('.container').addClass('container-loaded');
            });
        </script>
    </body>
</html>






























