{% extends 'home/base.html' %}
{% load static %}
{% block link %}<link rel ="stylesheet" href="{% static 'home/css/projects.css' %}">{% endblock %}
{% block main %}

<div class="container">
    <div class="project-section">
        <h1>Projects</h1>
        <div class="row">
            <div class="col-sm-6">
                <h3>Alternative Sales channel Development-2011 (Project Manager)</h3>
                <p>
                    <span class="circle">&#9679;</span> Identify Alternative sales channel for selling Connection &
                    recharge.<br>
                    <span class="circle">&#9679;</span> Including Mega shop and Departmental stop in Distribution
                    channel.
                </p>
            </div>
            <div class="col-sm-6">
                <div class="img-rignt-div">
                    <img src={% static "projects/images/banglalink.png" %}>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <h3>Business Plan for Dhaka Commercial Team (Y 2010&11) (Project Member)</h3>
                <p>Yearly Business activities and project planning for Dhaka commercial Team of Banglalink Sales and
                    distribution.
                </p>
            </div>
            <div class="col-sm-6">
                <div class="img-rignt-div">
                    <img src={% static "projects/images/banglalink.png" %}>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <h3>Field force training & Development 2011 (Project Member & Trainer)</h3>
                <p>
                    <span class="circle">&#9679;</span> Supervisor Functional Training Module Develop<br>
                    <span class="circle">&#9679;</span> Training Rollout across Commercial region.<br>
                    <span class="circle">&#9679;</span> Train the Trainers
                </p>
            </div>
            <div class="col-sm-6">
                <div class="img-rignt-div">
                    <img src={% static "projects/images/banglalink.png" %}>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <h3>Project RSE - (Project Manager)</h3>
                <p>
                    <span class="circle">&#9679;</span> Proposed Special connection selling Service Plan For for the
                    commercial region.
                </p>
            </div>
            <div class="col-sm-6">
                <div class="img-rignt-div">
                    <img src={% static "projects/images/banglalink.png" %}>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <h3>Distribution Manual Development for Channel Partners (Project Manager)</h3>
                <p>
                    <span class="circle">&#9679;</span> Distribution manual development for sales & Distribution
                    channel.
                </p>
            </div>
            <div class="col-sm-6">
                <div class="img-rignt-div">
                    <img src={% static "projects/images/banglalink.png" %}>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function() {
      addActiveClass("nav-link-2")
  });
</script>

{% endblock %}





























