{% extends 'home/base.html' %}
{% load static %}
{% block link %}<link rel ="stylesheet" href="{% static 'home/css/detail.css' %}">{% endblock %}
{% block main %}

        <div class="container">
                <div class="col-sm-12">
                    {% for thought in object_list %}
                        {% if thought.id|slugify == request.get_full_path|slice:"10:" %}
                            <div class="div-blog">
                                <div class="header" >
                                    <p><b>{{ thought.title | safe }}</b><br><span style="font-size: 14px; font-family: 'Montserrat'; font-weight: normal;">By <b>{{ thought.author }}</b><span style="color: #757575"> | {{ thought.DOP }} </span></span></p>
                                    <span class="share-icon"><a href="http://www.facebook.com/sharer/sharer.php?u=http://www.smrayhan.com{{ request.get_full_path|urlencode }}" target="_blank"><i class="fab fa-facebook fa-2x"></i></a>
                                        <a href="http://www.linkedin.com/shareArticle?url=http://www.smrayhan.com{{ request.get_full_path|urlencode }}&title={{thought.title}}&source=http://www.smrayhan.com" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a></span>
                                    <img src="{{ thought.image.url }}" style="width: 100%;" alt="{{ thought.alternate_text }}">
                                </div>
                                {{ thought.article|safe }}<br>
                                {% if  thought.associated_to == 'publications' %}
                                    <a class="article-link" href="{{ thought.url }}" target="_blank">This article was originally published at {{ thought.published_at }}</a>
                                {% elif thought.associated_to == 'interviews' %}
                                    <a class="article-link" href="{{ thought.url }}" target="_blank">This interview was originally published at {{ thought.published_at }}</a>
                                {% endif %}
                            </div>
                        {% elif thought.id > request.get_full_path|slice:"10:"|add:"0" and thought.id < request.get_full_path|slice:"10:"|add:"4"%}
                            <div class="read-next-section-overlay">
                                {% if thought.id == request.get_full_path|slice:"10:"|add:"1" %}
                                    <span>Your next read</span>
                                {% endif %}
                                {% if thought.id == request.get_full_path|slice:"10:"|add:"2" %}
                                    <div class="read-next-section" id="second-thought-card">
                                        <div class="read-next-card">
                                            <a href="{% url 'thoughts:detail' thought.id %}">
                                                <img src="{{ thought.image.url }}" alt="{{ thought.alternate_text }}" loading="lazy"><br>
                                                <p>{{ thought.title }}</p>
                                                <span class="thought-article">{{ thought.article|slice:"0:80"|striptags|safe }}...</span>
                                            </a>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="read-next-section">
                                        <div class="read-next-card">
                                            <a href="{% url 'thoughts:detail' thought.id %}">
                                                <img src="{{ thought.image.url }}" alt="{{ thought.alternate_text }}" loading="lazy"><br>
                                                <p>{{ thought.title }}</p>
                                                <span class="thought-article">{{ thought.article|slice:"0:80"|striptags|safe }}...</span>
                                            </a>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        {% endif %}
                {% endfor %}
                </div>
            </div>
{% endblock %}