{% extends 'home/base.html' %}
{% load static %}
{% block link %}
    <link rel="stylesheet" href="{% static 'home/css/thoughts.css' %}">{% endblock %}
{% block main %}

    <div class="container">
        <div class="main">
            <h1 class="text-center">THOUGHTS</h1>
            <hr>
            <!-- Portfolio Gallery Grid -->
            <div class="row" style="display: flex; flex-wrap: wrap; margin: 10px -16px; padding: 8px; color: #000000;">
                {% for thought in object_list %}
                    <div class="content">
                        <a href="{% url 'thoughts:detail' thought.id %}">
                            <img src="{{ thought.image.url }}" alt="{{ thought.alternate_text }}"
                                 style="width:100%; height: 238px;" loading="lazy">
                            <h4>{{ thought.title }}</h4>
                        </a>
                    </div>
                {% endfor %}
            </div>
            <!-- END MAIN -->
        </div>
    </div>
    {% if object_list.paginator.count > 12 %}
        {% url 'thoughts:thoughts' as thoughts_url %}
        <nav aria-label="search page">
            <ul class="pagination justify-content-center">
                {% if object_list.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="{{ thoughts_url }}?page={{ object_list.next_page_number }}"
                           tabindex="-1">Previous</a>
                    </li>
                {% endif %}
                {% with ''|center:object_list.paginator.num_pages as range %}
                    {% for _ in range %}
                        <li class="page-item">
                            <a class="page-link"
                               href="{{ thoughts_url }}?page={{ forloop.counter }}">{{ forloop.counter }}</a>
                        </li>
                    {% endfor %}
                {% endwith %}
                <li class="page-item">
                    {% if object_list.has_next %}
                        <a class="page-link"
                           href="{{ thoughts_url_url }}?page={{ object_list.next_page_number }}">Next</a>
                    {% endif %}
                </li>
            </ul>
        </nav>
    {% endif %}
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            addActiveClass("nav-link-3")
        });
    </script>

{% endblock %}